@charset "utf-8";
* {margin: 0; padding: 0;border: 0;font-family:'宋体','STSong';}
body {background: #fff;}
a {text-decoration: none;}
.container {width: 1152px;margin:46px auto 0;}
.container .main {margin-bottom:10px; width:962px; overflow:hidden;float: left;}
.main_view_line{width: 100%;height: 6px;border-top: 2px solid rgb(131, 132, 126);border-bottom: 1px solid rgb(131, 132, 126);margin-bottom: 10px;clear: both;}
.index_ph1{float: left;margin-bottom: 10px;}
.index_ph2{float: right;margin-bottom: 10px;margin-left: 10px;}

/**头部导航样式*/
.header{height:44px; position:fixed; top:0px;left:0px; line-height:40px; width:100%; background-color:#414141;font-size:12px;z-index: 9999}
.head{width:1152px; height:44px; margin:0 auto;background-color:#414141;position: relative;}
.header a{color:#fff; display:inline-block;}
#register{margin-right:10px;}
.right{float:right;}
.right-shop{margin:0 10px; background:url(../img/roseonly-02.png) no-repeat scroll 0 50%; padding-left:20px;}
.left{background:url(../img/roseonly-03.png) no-repeat scroll 0 50%; padding-left:20px; text-align:left;}
.roseonly-logo{width:190px; height:44px;display:block; float:left; background:url(../img/roseonly-logo.png) no-repeat scroll 0 0;}
.collect{padding:0 10px; background:url(../img/zk02.png) no-repeat scroll 100% 16px;}
/*底部导航样式*/
.foot-nav{background:#414141;width:100%;height:80px;}
.foot-nav ul li{float:left;list-style:none;margin-left:60px;margin-top:25px;font-size:12px;color:#FFF;}
.about-us{padding-left:240px;}
.foot-nav span{float:left;margin-top:10px;padding-left:540px;font-size:12px;color:#FFF;}
/**左导航样式*/
.left-nav{float:left;width:190px; margin-top:20px; font-weight:bold;}
.left-nav .logo{width:150px; height:115px; margin:0 auto 20px; border-bottom:solid 2px #ebebeb;padding-bottom: 30px;}
.serir ul{ margin:0; padding:0;}
.serir{height:30px; line-height:30px;width:190px; display:block; text-align:center;font-size:14px;font-weight:bold;letter-spacing:2px;}
.serir a {text-decoration: none; outline:none; color:#83847e;}
.serir a:hover {text-decoration: none; outline:none; color:#414141;}
.left-nav .line{width:160px; margin:20px; border-bottom:solid 2px #ebebeb;}
.left-nav .gread{display:block; margin:10px auto;}
/*登录框样式*/
.alogin {width: 100%;height: 100%;background-color: #CCCCCC;position: fixed;top: 0px;left: 0px;z-index: 1;display: none;opacity: 0.5;}
.login {width: 470px;height: 360px;margin: -210px 0 0 -235px;border: 1px solid #ECE9D8;background: #FFFFFF;	z-index: 2;display: none;position: fixed;left: 50%;top: 50%;}
.login .title {font-family: "楷体", "楷体_GB2312";font-size: 18px;}
.login .title a {float: right;text-decoration: none;}
.login .username {background: url(../img/bounced02.png) no-repeat 10px;}
.login .password {background: url(../img/bounced03.png) no-repeat 10px;}
.login .userpass {border: 1px solid #414141;height: 35px;width: 300px;margin: 10px auto;padding-top: 0px;}
.login form {margin: 50px auto;}
.login form .userfor {border: 0px solid #0052E4;margin: 0px;height: 35px;width: 265px;float: right;outline: none;color:#83837d;}
.login .divsubmit {height: 200px;width: 300px;margin: 20px auto;}
.login .divsubmit a {color: #414141;font-size:12px;letter-spacing:2px;float: right;text-decoration: none;}
.login .divsubmit input {float:left;height: 37px;width: 300px;background: #414141;margin: 10px auto;font-size: 16px;text-align: center;color: #FFFFFF;outline: none;cursor: pointer;}
#close {float: right;margin-right: 6px;}
.login .login_logo {margin-top: 30px;}
.login .login_logo img {display: block;margin: 0px auto;}
/*logo条*/
.logo-container{text-align: center;}
.line-container{height:3px;border-top: 2px solid #83847E;border-bottom: 1px solid #83847E;}